doctype html

html
    title= settings.title
    meta(charset='utf-8')
    meta(name="apple-mobile-web-app-status-bar" content="#67c6df")
    meta(name="theme-color" content="#67c6df")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='csrf', content=req.csrfToken())
    meta(name='show-bolt11', content=settings.show_bolt11 ? 1 : '')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name="mobile-web-app-capable" content="yes")
    meta(name="application-name" content="pollofeed")
    meta(name="apple-mobile-web-app-title" content="pollofeed")
    meta(name="msapplication-starturl" content="/")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="manifest" href="manifest.json")
    link(rel="apple-touch-icon" href="pollofeed.png")
    link(rel="apple-touch-icon" href="icons/icon-72x72.png")
    link(rel="apple-touch-icon" href="icons/icon-96x96.png")
    link(rel="apple-touch-icon" href="icons/icon-128x128.png")
    link(rel="apple-touch-icon" href="icons/icon-144x144.png")
    link(rel="apple-touch-icon" href="icons/icon-152x152.png")
    link(rel="apple-touch-icon" href="icons/icon-192x192.png")
    link(rel="apple-touch-icon" href="icons/icon-384x384.png")
    link(rel="apple-touch-icon" href="icons/icon-512x512.png")
    link(rel="shortcut icon" href="pollofeed.png")
    link(rel='stylesheet', href='bootswatch/' + settings.theme + '/bootstrap.min.css')
    link(rel='stylesheet', href="style.css")
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')

    body
        include header.pug
        div.app.container.mb-4
            .row
                button(
                    class="btn btn-primary btn-block btn_feed mx-auto mb-4"
                    type="submit" data-buy-item="pollofeed"
                )
                    i.fa.fa-bolt.font-weight-bold.mr-1
                    span.font-weight-bold.text-uppercase feed
            .row.mb-4
                iframe.rounded.mx-auto.shadow(
                    title='live stream'
                    src='https://pollofeed.ngrok.io'
                    height='480'
                    style="border: none;"
                    width="640"
                )
    include footer.pug
    script(src='script.js')
