doctype html

html
  title= settings.title
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  //meta(name='csrf', content=req.csrfToken())
  meta(name='show-bolt11', content=settings.show_bolt11?1:'')
  meta(name='apple-mobile-web-app-capable', content='yes')
  meta(name="mobile-web-app-capable" content="yes")
  link(rel="manifest" href="manifest.json")
  meta(name="application-name" content="pollofeed")
  meta(name="apple-mobile-web-app-title" content="pollofeed")
  meta(name="msapplication-starturl" content="/")
  meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  link(rel='stylesheet', href='bootswatch/'+settings.theme+'/bootstrap.min.css')
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')


  body
    div.container.mb-4(style="font-size: 1.5rem; height: 90vh; min-height: 500px;")
      .row
        h1.my-4.mx-auto.text-uppercase.font-weight-bold.text-warning(
          style="letter-spacing: 0.3rem;"
          title="Bitcoin Lightning Powered Chicken Feeder"
          )= settings.title
      .row
        button(
          style="max-width: 300px; font-size: 1.6rem; letter-spacing: .2rem;"
          class="btn btn-primary btn-block mx-auto mb-4"
          type="submit" data-buy-item="pollofeed"
          )
          i.fa.fa-bolt
          span FEED
      .row.mb-2.d-flex.justify-content-center
        h3 Note: Lightning Bolt destroyed power relay
      .row.my-2.d-flex.justify-content-center
        p Replacement coming 24/Jun/2019
      .row.mb-4
        iframe.rounded.mx-auto.shadow(
          title='live stream'
          src='https://pollofeed.ngrok.io'
          height='480'
          style="border: none;"
          width="640"
        )
  include footer.pug
  script(src='script.js')
