doctype html

html
  title= settings.title
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  //meta(name='csrf', content=req.csrfToken())
  meta(name='show-bolt11', content=settings.show_bolt11?1:'')
  meta(name='apple-mobile-web-app-capable', content='yes')
  link(rel='stylesheet', href='bootswatch/'+settings.theme+'/bootstrap.min.css')
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')

  body
    .container.d-flex: .justify-content-center.align-self-center.text-center.mx-auto.w-100
      div(id="loadingMessage")
      h1.mt-2.mb-4.text-uppercase.font-weight-bold.text-warning(style="letter-spacing: 0.3rem;")= settings.title
      h5.mb-4 Bitcoin Lightning Powered Chicken Feeder
      .row
        button(style="max-width: 300px" class="btn btn-primary btn-block mx-auto mb-4 font-weight-bold text-large"
          type="submit" data-buy-item="pollofeed") FEED
      .row.mb-4
        iframe.rounded.mx-auto.shadow(
          title='live stream'
          src='https://pollofeed.ngrok.io'
          height='480'
          style="border: none;"
          width="640"
        )
    include footer.pug
  script(src='script.js')
